body {
    background-color: lightgray;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 45px;
    border-radius: 50px;
}

.text-desc {
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}

.profile .section {
    margin-top: 16px;
}

.mavemblog-menu {
    color: #9999cc;
    font-size: 12px;
}

.jumbotron {
    margin: 50px;
}